## Final Project Submission

Please fill out:
* Student name: Frank Oyugi
* Student pace: self paced / part time / full time : full time
* Scheduled project review date/time: 22/03/2024
* Instructor name: Maryann Mwikali
* Blog post URL:https://github.com/FrankOyugi/Phase-1-Project-Movies-Data-Analysis

## Project Title
A Data Analysis Project  
Author:Frank Oyugi

## Overview
In this project,we will be using Exploratory Data Analysis(EDA) to analyze five sets of datasets and use our findings to provide recommendations to 'Microsoft',a company trying to get into the film-making industry.

## Business Problem
Microsoft have decided to create a new movie studio,but they are new to the film-making business.We will be exploring what types of films are doing the best at box office then using those findings to provide insights to the movie studio and help decide what types of films to create.The data questions I plan to answer to solve this problem include:  
1.What movies have been the highest-grossing each year?  
2.What are the trends in box office revenue over time?  
3.How are different movie genres performing?  
4.How do gender preferences vary across demographic groups?  
5.How do film ratings correlate with box office performance?  
6.Who are the major competitors in the film-making industry,and what type of films do they produce?  
7.What is happening with the highly popular streaming platforms?

In this project,we will be analyzing 5 datasets which contain various information that includes:  
1.Movies  
2.The movie genres  
3.The movies ratings  
4.The target audiences  
5.Box office performance  
These dataset names are as follows:  
1.Box Office Mojo  
2.IMDB  
3.Rotten Tomatoes  
4.The MovieDB  
5.The Numbers 

Let's perform some data exploration:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [6]:
#Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import seaborn as sns
import numpy as np
import os

In [5]:
#Changing working directory to allow extracting information from the database without having to commit the entire project

#os.chdir(r'C:\Users\lenovo\OneDrive\Documents\Flatiron\zippedData')

'C:\\Users\\lenovo\\OneDrive\\Documents\\Flatiron\\Projects\\Phase-1-Project-Movies-Data-Analysis'

In [3]:
#Open your db file

#Open 'im.db' database
conn = sqlite3.connect('im.db')

#Return list of every table in the db
table_names=pd.read_sql("""SELECT name FROM sqlite_master WHERE type = 'table';""",conn)

#Return first 5 records of 'movie_basics' and 'movie_ratings' columns
movie_basics_columns = pd.read_sql("SELECT * FROM movie_basics;",conn)
movie_ratings_columns = pd.read_sql("SELECT * FROM movie_ratings;",conn)
movie_ratings_columns.head(),movie_basics_columns.head()

DatabaseError: Execution failed on sql 'SELECT * FROM movie_basics;': no such table: movie_basics

In [ ]:
#Open csv files

In [ ]:
df1 = pd.read_csv('tn.movie_budgets.csv.gz')
df1.head()

In [ ]:
df2 = pd.read_csv('bom.movie_gross.csv.gz')
df2.head()

In [ ]:
df3 = pd.read_csv('tmdb.movies.csv.gz')
df3.head()

In [ ]:
df4 = pd.read_csv('rt.movie_info.tsv.gz', sep='\t')
df4.head()

In [ ]:
df5 = pd.read_csv('rt.reviews.tsv.gz', sep='\t', encoding='unicode_escape')
df5.head()

In [ ]:
#Data Exploration

## Correlation  
Correlation is used to measure the strength and the direction of the relationaship between two variables

In [ ]:
#Correlation between production_budget and domestic_gross

budgets_df = pd.read_csv('tn.movie_budgets.csv.gz')

budgets_df['production_budget'] = pd.to_numeric(budgets_df['production_budget'], errors='coerce')
budgets_df['domestic_gross'] = pd.to_numeric(budgets_df['domestic_gross'], errors='coerce')

budget_corr = budgets_df['production_budget'].corr(budgets_df['domestic_gross'])

print("Correlation between 'production_budget' and 'domestic_gross':", budget_corr)

#The correlation is "Nan" because some cells have nan values and they have not been cleaned yet

In [ ]:
#Measures Of Central Tendency

In [ ]:
#Maximum average rating and genre
query_1 = "SELECT * FROM movie_basics"
query_2 = "SELECT * FROM movie_ratings"
basics_df = pd.read_sql_query(query_1, conn)
ratings_df = pd.read_sql_query(query_2, conn)
merge_df = pd.merge(basics_df,ratings_df, on='movie_id')

highest_rated_movie = merge_df.loc[merge_df['averagerating'].idxmax()]
highest_rated_movie_title = highest_rated_movie['primary_title']
highest_rated_movie_genre = highest_rated_movie['genres']
#Minimum average rating and genre
lowest_rated_movie = merge_df.loc[merge_df['averagerating'].idxmin()]
lowest_rated_movie_title = lowest_rated_movie['primary_title']
lowest_rated_movie_genre = lowest_rated_movie['genres']
#Print results
print('Movie with highest average rating:',highest_rated_movie_title,'.''Genre:',highest_rated_movie_genre)
print('Movie with lowest average rating:',lowest_rated_movie_title,'.''Genre:',lowest_rated_movie_genre)

In [ ]:
#Mean Production Budget Per Year
df1['release_date'] = pd.to_datetime(df1['release_date'])
df1['release_year'] = df1['release_date'].dt.year
df1['production_budget'] = df1['production_budget'].str.replace('$', '').str.replace(',', '').astype(float)
mean_budget = df1.groupby('release_year')['production_budget'].mean()
mean_budget

In [ ]:
#Calculate no. of movies released per year
released_year_numbers = df1['release_year'].value_counts()
print(released_year_numbers)

In [ ]:
#Director with highest number of movies

query_3 = "SELECT * FROM directors"
query_4 = "SELECT * FROM persons"
directors_df = pd.read_sql_query(query_3, conn)
persons_df = pd.read_sql_query(query_4, conn)
merged_df2 = pd.merge(directors_df,persons_df, on='person_id')

director_counts = merged_df2['person_id'].value_counts()

most_frequent_id = director_counts.idxmax()
most_frequent_name = merged_df2.loc[merged_df2['person_id'] == most_frequent_id, 'primary_name'].iloc[0]

#Dirctor with lowest number of movies

least_frequent_id = director_counts.idxmin()
least_frequent_name = merged_df2.loc[merged_df2['person_id'] == least_frequent_id, 'primary_name'].iloc[0]

#Print

print("The person who has directed the most movies is:", most_frequent_name)
print("The person who has directed the least movies is:", least_frequent_name)

In [ ]:
#Writer with highest number of movies

query_5 = "SELECT * FROM writers"

writers_df = pd.read_sql_query(query_3, conn)

merged_df3 = pd.merge(writers_df,persons_df, on='person_id')

writer_counts = merged_df3['person_id'].value_counts()

most_frequent_id_writer = writer_counts.idxmax()
most_frequent_name_writer = merged_df3.loc[merged_df3['person_id'] == most_frequent_id_writer, 'primary_name'].iloc[0]

#Writer with lowest number of movies

least_frequent_id_writer = writer_counts.idxmin()
least_frequent_name = merged_df3.loc[merged_df3['person_id'] == least_frequent_id_writer, 'primary_name'].iloc[0]

#Print

print("The person who has written the most movies is:", most_frequent_name)
print("The person who has written the least movies is:", least_frequent_name)

## Data Cleaning  
This is the process of dealing with numerical probelms and inconsistencies in your data.Some data cleaning tasks include:  
1.Cleaning empty cells.  
2.Cleaning wrong formats.  
3.Cleaning wrong data.  
4.Removing duplicates.

In [ ]:
#Removing Duplicates

In [ ]:
#Function For Removing Duplicates from csv files

def find_duplicates(dataframe):
    former_duplicates = dataframe.duplicated().sum() #Initial Duplicates
    if former_duplicates > 0:
        dataframe.drop_duplicates(inplace=True) #Removing Duplicates
        latter_duplicates = dataframe.duplicated().sum() #Updated Duplicates
        print("Duplicates removed. Number of duplicate rows before:", former_duplicates, ", Number of duplicate rows after:", latter_duplicates)
    else:
        print("No duplicates found.")

In [ ]:
#Duplicates In Movie_Budget File

df1 = find_duplicates(df1)

In [ ]:
#Duplicates in movie_gross file

df2 = find_duplicates(df2)

In [ ]:
#Duplicates in movies file

df3 = find_duplicates(df3)

In [ ]:
#Duplicates in movie_info file

df4 = find_duplicates(df4)

In [ ]:
#Duplicates in reviews file

#There were 9 duplicates but I ran the code more than once

find_duplicates(df5)

In [ ]:
#Function for removing duplicates in database tables

def find_duplicates_db(conn,table_name):
    query = f"SELECT * FROM {table_name};"
    duplicate_df = pd.read_sql_query(query, conn)
    cleaned_df = duplicate_df.drop_duplicates()
    cleaned_df.to_sql(name=table_name, con=conn, if_exists='replace', index=False)
    print("Duplicates Removed")

In [ ]:
#Duplicates in directors table)

find_duplicates_db(conn,'directors')

In [ ]:
#Duplicates in writers table)

find_duplicates_db(conn,'writers')

In [ ]:
#Duplicates in principals table)

find_duplicates_db(conn,'principals')

In [ ]:
#Duplicates in persons table)

find_duplicates_db(conn,'persons')

In [ ]:
#Duplicates in known_for table)

find_duplicates_db(conn,'known_for')

In [ ]:
#Duplicates in movie_ratings table)

find_duplicates_db(conn,'movie_ratings')

In [ ]:
#Duplicates in movie_akas table)

find_duplicates_db(conn,'movie_akas')

In [ ]:
#Duplicates in movie_basics table)

find_duplicates_db(conn,'movie_basics')

In [ ]:
#Cleaning empty cells

In [ ]:
#Removing 'currency','studio'and 'box_office' columns in 'movie_info table because of Nan values'
df4 = pd.read_csv('rt.movie_info.tsv.gz', sep='\t')

columns_to_drop_movie_info = ['currency', 'studio','box_office']
new_df4 = df4.drop(columns=columns_to_drop_movie_info, inplace=False)

print(new_df4.head())

In [ ]:
#Removing 'rating' and 'top_critic' columns from 'reviews' file because of Nan values
df5 = pd.read_csv('rt.reviews.tsv.gz', sep='\t', encoding='unicode_escape')

columns_to_drop_reviews =['rating','top_critic']
new_df5 = df5.drop(columns=columns_to_drop_reviews, inplace=False)

print(new_df5.head())

In [ ]:
#Replacing Nan values in movie_budgets file numerical columns with the mean of Non-Nan values
#Replace 'Nan' with empty values
df1 = pd.read_csv('tn.movie_budgets.csv.gz')

df1.replace('NaN',np.nan,inplace=True)

#Make all characters numeric

df1['production_budget'] = df1['production_budget'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
df1['domestic_gross'] = df1['domestic_gross'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)
df1['worldwide_gross'] = df1['worldwide_gross'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)

#Find Mean

mean_production_budget = df1['production_budget'].mean()
mean_domestic_gross = df1['domestic_gross'].mean()
mean_worldwide_gross = df1['worldwide_gross'].mean()

#Replace empty values with mean

new_df1 = df1.fillna({'production_budget': mean_production_budget,
                     'domestic_gross': mean_domestic_gross,
                     'worldwide_gross': mean_worldwide_gross}, inplace=False)
#Print

print(new_df1.head())

In [ ]:
#Replacing Nan values in movie_gross file numerical columns with the mean of Non-Nan values
df2 = pd.read_csv('bom.movie_gross.csv.gz')

#Replace 'Nan' with empty values

df2.replace('NaN',np.nan,inplace=True)

#Make in characters in foreign_gross column numeric

df2['foreign_gross'] = df2['foreign_gross'].astype(str).str.replace('$', '').str.replace(',', '').astype(float)

#Find Mean

mean_domestic_gross_2 = df2['domestic_gross'].mean()
mean_foreign_gross = df2['foreign_gross'].mean()

#Replace the empty values with mean

new_df2 = df2.fillna({'domestic_gross': mean_domestic_gross_2,
                     'foreign_gross': mean_foreign_gross}, inplace=False)

print(new_df2.head())

## Visualizations  
These are graphical representations of data and information.They play a crucial role in understanding the patterns,trends and relatioships in data.Some of the common visualizations used un data analysis include:  
1.Bar Plots.  
2.Scatter Plots.  
3.Histograms.  
4.Line Plots.  
5.Heat Maps.

## Heatmap showing correlation relationship between production budget and domestic gross.

In [ ]:
plt.figure(figsize=(10, 6))
sns.heatmap(new_df1[['production_budget', 'domestic_gross']].corr(), annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap: Production Budget vs. Domestic Gross')
plt.xlabel('Variables')
plt.ylabel('Variables')
plt.show()

## Conclusion.
From the heat map above,we can conclude that there is a positive correlation relationship between production_budget and domestic_gross(0.69),which means when the production_budget increases,the domestic_gross also increases.

## Heatmap showing correlation relationship between domestic gross and worldwide gross.

In [ ]:
plt.figure(figsize=(10, 6))
sns.heatmap(new_df1[['domestic_gross', 'worldwide_gross']].corr(), annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Heatmap: Domestic Gross vs. Worldwide Gross')
plt.xlabel('Variables')
plt.ylabel('Variables')
plt.show()

## Conclusion.
From the heat map above,we can conclude that there is a  very strong positive correlation relationship between domestic_gross and worldwide_gross(0.94),which means when the production_budget increases,the domestic_gross will almost always also increase.

## Histogram showing frequency distribution of average movie ratings.

In [ ]:
query_6 = "SELECT * FROM movie_ratings"

ratings_df = pd.read_sql_query(query_6, conn)

plt.figure(figsize=(10, 6)) 
plt.hist(ratings_df['averagerating'], bins=20, color='lightblue', edgecolor='black')  
plt.title('Histogram showing distribution of average movie ratings')
plt.xlabel('Average Rating')
plt.ylabel('Frequency')
plt.show()

## Conclusion.  
From the histogram above,we can conclude that most movies are rated at 6.5.This also shows that 6.5 is the mean average rating

In [ ]:
## Histogram showing frequency distribution of movie runtimes.

In [ ]:
query_7 = "SELECT * FROM movie_basics"

ratings_df = pd.read_sql_query(query_7, conn)

plt.figure(figsize=(10, 6)) 
plt.hist(ratings_df['runtime_minutes'], bins=5,range=(0,200), color='lightblue', edgecolor='black')  
plt.title('Histogram showing distribution of movie runtimes')
plt.xlabel('Runtime in minutes')
plt.ylabel('Frequency')
plt.show()

## Conclusion.  
From the histogram above,we can conclude that most movies are 100 minutes long./

## Bar Chart Showing The Top 5 And Bottom 5 Genres

In [ ]:
genres_df = pd.read_sql_query(query_7, conn)

# Count the occurrences of each genre

genre_counts = genres_df['genres'].value_counts()

# Select top 5 and bottom 5 genres

top_bottom_genres = pd.concat([genre_counts.head(5), genre_counts.tail(5)])

# Plot the bar chart

plt.figure(figsize=(10, 6)) 
top_bottom_genres.plot(kind='bar', color='skyblue', edgecolor='black') 
plt.title('Bar Chart Showing Top 5 and Bottom 5 Genres by Occurrences')
plt.xlabel('Genre')
plt.ylabel('Frequency')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.show()

## Conclusion.  
From the bar chart above,we can conclude that the 5 most popular genres are documentary,drama,comedy,horror and comedy/drama,which the most popular one being documentary,which supports the theory that the highest rated movie is also a documentary as we had seen before durig data exploration.At the same time,we ca see that the 5 least popular documentaries are documentary/musical/mystery,drama/horror/short,action/animation/music,crime/family/horror ad fantasy/history/sci-fi.

## Recommendations.  
From the results of data exploration and the visualizations that I've created,I would make the following recommendations to Microsoft:  
1.Invest heavily in the production budget.The heat maps show that their is a positive correlation between production budget and domestic gross.  
2.Focus on making documentaries and dramas.The histogram above shows that these two genres are the most popular ones.  
3.Hire 'Omar Pasha' as your writer and director.He has contributed to the highest number of films in this dataset.  
4.Avoid hiring 'Raphaelle Ayach' as your writer and director.He has contributed to the lowest number of films in this dataset.  
5.make movies which are between 90 and 110 minutes long.The average runtime is 100 minutes.
6.Do not make musicals and fantasies.They are the least popular genres.  
7.Target movie ratings of 6.5 or higher.6.5 is the average movie rating.