## Final Project Submission

Please fill out:
* Student name: Frank Oyugi
* Student pace: self paced / part time / full time : full time
* Scheduled project review date/time: 22/03/2024
* Instructor name: Maryann Mwikali
* Blog post URL:https://github.com/FrankOyugi/Phase-1-Project-Movies-Data-Analysis

## Project Title
A Data Analysis Project  
Author:Frank Oyugi

## Overview
In this project,we will be using Exploratory Data Analysis(EDA) to aanalyze five sets of datasets and use our findings to provide recommendations to 'Microsoft',a company trying to get into the film-making industry.

## Business Problem
Microsoft have decided to create a new movie studio,but they are new to the film-making business.We will be exploring what types of films are doing the best at box office then using those findings to provide insights to the movie studio and help decide what types of films to create.The data questions I plan to answer to solve this problem include:  
1.What movies have been the highest-grossing each year?  
2.What are the trends in box office revenue over time?  
3.How are different movie genres performing?  
4.How do gender preferences vary across demographic groups?  
5.How do film ratings correlate with box office performance?  
6.Who are the major competitors in the film-making industry,and what type of films do they produce?  
7.What is happening with the highly popular streaming platforms?

In this project,we will be analyzing 5 datasets which contain various information that includes:  
1.Movies  
2.The movie genres  
3.The movies ratings  
4.The target audiences  
5.Box office performance  
These dataset names are as follows:  
1.Box Office Mojo  
2.IMDB  
3.Rotten Tomatoes  
4.The MovieDB  
5.The Numbers 

Let's perform some data exploration:

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
#Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
import seaborn as sns
import numpy as np
import os

In [3]:
os.chdir(r'C:\Users\lenovo\OneDrive\Documents\Flatiron\zippedData')

In [33]:
#Open your db file

#Open 'im.db' database
conn = sqlite3.connect('im.db')

#Return list of every table in the db
table_names=pd.read_sql("""SELECT name FROM sqlite_master WHERE type = 'table';""",conn)

#Return first 5 records of 'movie_basics' and 'movie_ratings' columns
movie_basics_columns = pd.read_sql("SELECT * FROM movie_basics;",conn)
movie_ratings_columns = pd.read_sql("SELECT * FROM movie_ratings;",conn)
movie_ratings_columns.head(),movie_basics_columns.head()

(     movie_id  averagerating  numvotes
 0  tt10356526            8.3        31
 1  tt10384606            8.9       559
 2   tt1042974            6.4        20
 3   tt1043726            4.2     50352
 4   tt1060240            6.5        21,
     movie_id                    primary_title              original_title  \
 0  tt0063540                        Sunghursh                   Sunghursh
 1  tt0066787  One Day Before the Rainy Season             Ashad Ka Ek Din
 2  tt0069049       The Other Side of the Wind  The Other Side of the Wind
 3  tt0069204                  Sabse Bada Sukh             Sabse Bada Sukh
 4  tt0100275         The Wandering Soap Opera       La Telenovela Errante

    start_year  runtime_minutes                genres
 0        2013            175.0    Action,Crime,Drama
 1        2019            114.0       Biography,Drama
 2        2018            122.0                 Drama
 3        2018              NaN          Comedy,Drama
 4        2017             80.0  Comedy,Drama,Fantasy  )

In [5]:
#Open csv files

In [6]:
df1 = pd.read_csv('tn.movie_budgets.csv.gz')
df1.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [7]:
df2 = pd.read_csv('bom.movie_gross.csv.gz')
df2.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [8]:
df3 = pd.read_csv('tmdb.movies.csv.gz')
df3.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [9]:
df4 = pd.read_csv('rt.movie_info.tsv.gz', sep='\t')
df4.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [10]:
df5 = pd.read_csv('rt.reviews.tsv.gz', sep='\t', encoding='unicode_escape')
df5.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [11]:
#Data Exploration

## Correlation  
Correlation is used to measure the strength and the direction of the relationaship between two variables

In [12]:
#Correlation between production_budget and domestic_gross

budgets_df = pd.read_csv('tn.movie_budgets.csv.gz')

budgets_df['production_budget'] = pd.to_numeric(budgets_df['production_budget'], errors='coerce')
budgets_df['domestic_gross'] = pd.to_numeric(budgets_df['domestic_gross'], errors='coerce')

budget_corr = budgets_df['production_budget'].corr(budgets_df['domestic_gross'])

print("Correlation between 'production_budget' and 'domestic_gross':", budget_corr)

Correlation between 'production_budget' and 'domestic_gross': nan

In [13]:
#Measures Of Central Tendency

In [14]:
#Maximum average rating and genre
query_1 = "SELECT * FROM movie_basics"
query_2 = "SELECT * FROM movie_ratings"
basics_df = pd.read_sql_query(query_1, conn)
ratings_df = pd.read_sql_query(query_2, conn)
merge_df = pd.merge(basics_df,ratings_df, on='movie_id')

highest_rated_movie = merge_df.loc[merge_df['averagerating'].idxmax()]
highest_rated_movie_title = highest_rated_movie['primary_title']
highest_rated_movie_genre = highest_rated_movie['genres']
#Minimum average rating and genre
lowest_rated_movie = merge_df.loc[merge_df['averagerating'].idxmin()]
lowest_rated_movie_title = lowest_rated_movie['primary_title']
lowest_rated_movie_genre = lowest_rated_movie['genres']
#Print results
print('Movie with highest average rating:',highest_rated_movie_title,'.''Genre:',highest_rated_movie_genre)
print('Movie with lowest average rating:',lowest_rated_movie_title,'.''Genre:',lowest_rated_movie_genre)

Movie with highest average rating: Exteriores: Mulheres Brasileiras na Diplomacia .Genre: Documentary
Movie with lowest average rating: Hito no sabaku .Genre: Drama

In [15]:
#Mean Production Budget Per Year
df1['release_date'] = pd.to_datetime(df1['release_date'])
df1['release_year'] = df1['release_date'].dt.year
df1['production_budget'] = df1['production_budget'].str.replace('$', '').str.replace(',', '').astype(float)
mean_budget = df1.groupby('release_year')['production_budget'].mean()
mean_budget

release_year
1915    1.100000e+05
1916    2.929535e+05
1920    1.000000e+05
1925    2.072500e+06
1927    2.000000e+06
            ...
2016    4.097370e+07
2017    5.003073e+07
2018    4.813886e+07
2019    5.273896e+07
2020    9.400000e+07
Name: production_budget, Length: 96, dtype: float64

In [16]:
#Calculate no. of movies released per year
released_year_numbers = df1['release_year'].value_counts()
print(released_year_numbers)

2015    338
2010    274
2008    264
2006    260
2014    255
       ...
1947      1
1927      1
1941      1
1937      1
1915      1
Name: release_year, Length: 96, dtype: int64

In [18]:
#Director with highest number of movies

query_3 = "SELECT * FROM directors"
query_4 = "SELECT * FROM persons"
directors_df = pd.read_sql_query(query_3, conn)
persons_df = pd.read_sql_query(query_4, conn)
merged_df2 = pd.merge(directors_df,persons_df, on='person_id')

director_counts = merged_df2['person_id'].value_counts()

most_frequent_id = director_counts.idxmax()
most_frequent_name = merged_df2.loc[merged_df2['person_id'] == most_frequent_id, 'primary_name'].iloc[0]

#Dirctor with lowest number of movies

least_frequent_id = director_counts.idxmin()
least_frequent_name = merged_df2.loc[merged_df2['person_id'] == least_frequent_id, 'primary_name'].iloc[0]

#Print

print("The person who has directed the most movies is:", most_frequent_name)
print("The person who has directed the least movies is:", least_frequent_name)

The person who has directed the most movies is: Tony Newton
The person who has directed the least movies is: Danny Ferry

In [24]:
#Writer with highest number of movies

query_5 = "SELECT * FROM writers"

writers_df = pd.read_sql_query(query_3, conn)

merged_df3 = pd.merge(writers_df,persons_df, on='person_id')

writer_counts = merged_df3['person_id'].value_counts()

most_frequent_id_writer = writer_counts.idxmax()
most_frequent_name_writer = merged_df3.loc[merged_df3['person_id'] == most_frequent_id_writer, 'primary_name'].iloc[0]

#Writer with lowest number of movies

least_frequent_id_writer = writer_counts.idxmin()
least_frequent_name = merged_df3.loc[merged_df3['person_id'] == least_frequent_id_writer, 'primary_name'].iloc[0]

#Print

print("The person who has written the most movies is:", most_frequent_name)
print("The person who has written the least movies is:", least_frequent_name)

The person who has written the most movies is: Tony Newton
The person who has written the least movies is: Danny Ferry